@tailwind base;
@tailwind components;
@tailwind utilities;



/* font-family: 'Barlow', sans-serif;
font-family: 'Fraunces', serif; */
body{
    font-family: 'Barlow', sans-serif;
}
#navSection{
    background-image: url("./assets/images/desktop/image-header.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 791px;
    background-position: center;
}

#contactBtn:hover{
    background-color: rgba(255, 255, 255, 0.274);
}

.secondSectionLearn{
    width: 117px;
    
}
.secondSectionLearn2{
    width: 117px;
    
}
#BtnUnderLine{
    width: 123px;
    margin-left: -3px;
    margin-top: -9px;    
    background-color: hsla(51, 100%, 50%, 0.418);
}
#BtnUnderLine2{
    width: 123px;
    margin-left: -3px;
    margin-top: -9px;    
    background-color: hsla(7, 99%, 70%, 0.479);
}
.secondSectionLearn:hover #BtnUnderLine{
    background-color: hsl(51, 100%, 49%);
}
.secondSectionLearn2:hover #BtnUnderLine2{
    background-color: hsl(7, 99%, 70%);
};

h1#cliendTestimonials {
    letter-spacing: 5px;
    
}


@media only screen and (max-width: 768px) {
    #navSection{
        background-image: url("./assets/images/mobile/image-header.jpg");     
        height: 561px;  
        background-size: cover;
    }
}
@media only screen and (min-width:768px){
    #secondDiv{
        height: 37rem;
    }
}